# Server configurations
PORT=5000
CLIENT_URL=http://localhost:3000

# Nodemailer SMTP configurations (Gmail App Passwords recommended)
SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=rengraj19@gmail.com
SMTP_PASS=kujv ieit cccp eaqm

# Business address details
ADMIN_EMAIL=rengraj19@gmail.com
